{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrion - Sua Nutrição em Alta</title>
    {% bootstrap_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark bg-primary">
                    <span class="navbar-brand">Medidor Calórico</span>
                </nav>
            </div>
        </div>

        <a href="{% url 'adicionar_comida' %}">Adicionar comida</a>
        <br><br><br>
        <h4>Meta Calórica</h4>
        <br>
        <div class="row">
            <div class="col-md-9 offset-1">
                <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>

                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                    <form method="POST">
                        <div class="form-group row">
                            {% csrf_token %}
                            <label class="col-md-2">
                                <b>Selecione a comida</b>
                                
                            </label>
                            <select class="col-md-6 form-control" name="comida_consumida" id="comida_consumida">
                                    {% for food in foods %}
                                     <option value="{{food.nome}}">{{food.nome}}</option>
                                    {% endfor %}
                            </select>
                            <button class="btn btn-success" type="submit">Adicionar</button>
                        </div>
                    </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div >
                    <h4> Consumo de hoje</h4>
                </div>

                <table id="table" class="table table-striped table-primary">
                    <tr class="bg-primary text-white">
                        <th>Item</th>
                        <th>Carboidratos(gm)</th>
                        <th>Proteína(gm)</th>
                        <th>Gorduras(gm)</th>
                        <th>Calorias(Kcal)</th>
                        <th>Deletar Item</th>
                    </tr>
                            {% for c in consumida_comida %}
                            <tr>
                                <td>{{c.comida_consumida.nome}}</td>
                                <td>{{c.comida_consumida.carboidratos}}</td>
                                <td>{{c.comida_consumida.proteinas}}</td>
                                <td>{{c.comida_consumida.gorduras}}</td>
                                <td>{{c.comida_consumida.calorias}}</td>
                                <td><a class="btn btn-danger" href="{% url 'delete' c.id %}">X</a></td>
                            </tr>

                            {% endfor %}

                            <tr>
                                <td id="name"><b>Total</b></td>
                                <td id="totalCarbs"><b></b></td>
                                <td id="totalProtien"><b></b></td>
                                <td id="totalFats"><b></b></td>
                                <td id="totalCalories"><b></b></td>
                            </tr>
                </table>
            </div>

            <div class="col-md-5 ">
                <div class="">
                    <h4>Descrição de hoje</h4>
                </div>
                <div class="card-header text-white bg-primary">
                    <h4>Macronutrientes</h4>
                </div>
                <div class="col-md-12">
                    
                    <canvas id="myChart" width="400" height="400"></canvas>

                </div>
            </div>
        </div>
        
    </div>
{% bootstrap_javascript %}
</body>
<script>
var table = document.getElementById("table");
var carbs=0,protein=0,fats=0,calories=0;

for(var i=1;i<table.rows.length-1;i++){
    console.log(table.rows[i].cells[1].innerHTML);
    carbs +=parseFloat(table.rows[i].cells[1].innerHTML);
    carbs = Math.round(carbs);
    protein+= parseFloat(table.rows[i].cells[2].innerHTML);
    protein = Math.round(protein)
    fats+= parseFloat(table.rows[i].cells[3].innerHTML);
    fats = Math.round(fats);
    calories+= parseFloat(table.rows[i].cells[4].innerHTML);
    calories = Math.round(calories);
}
console.log(fats);

document.getElementById("totalCarbs").innerHTML = '<b>' + carbs+'(gm)</b>';

document.getElementById("totalProtien").innerHTML ='<b>' + protein+'(gm)</b>';

document.getElementById("totalFats").innerHTML = '<b>' +fats+'(gm)</b>';

document.getElementById("totalCalories").innerHTML = '<b>' +calories+'(Kcal)</b>';

var calPer = (calories/2000) *100;
document.getElementsByClassName("progress-bar")[0].setAttribute("style","width:"+calPer+"%");


var total  = carbs+protein+fats;
var carbsP = Math.round((carbs/total)*100);
var protienP = Math.round((protein/total)*100);
var fatsP = Math.round((fats/total)*100);



var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: ['Carbs '+carbsP+'%', 'Protein '+protienP+'%', 'Fats '+fatsP+'%'],
    datasets: [{
        label: '# of Votes',
        data: [carbsP, protienP, fatsP],
        backgroundColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            
        ],
        borderWidth: 1
    }]
},

});


</script>
</html>