{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria</title>
</head>
<body background="{% static "home/images/fundo.png" %}">

    <div style="width: 650px; margin: 20px auto">
        <img width="120" src="{% static 'home/images/logo.png' %}">
        <a href="#" style="margin-left: 45.7%">Home</a> |
        <a href="#">Quem Somos</a> |
        <a href="#">Contato</a>
    </div>

    <div style="width: 650px; margin: -16px auto">
        <img width="620"; src="{% static "home/images/capa.png" %}">
    </div>
    
    <div style="width: 650px; margin: 0px auto">
        {% for livro in livros  %}
        <div style="width: 300px; display: inline-block">
            <h3>Nome do livro: {{ livro.nome_livro }}</h3>
            <p>Ano da publicação: {{ livro.ano_livro }}</p>
            <p>Páginas: {{ livro.quantidade_pag }}</p>
            <p>Nome do Autor: {{ livro.nome_autor }}</p>
            <p>Nome da editora: {{ livro.nome_editora }}</p>
            <span>Preço: {{ livro.preco }}</span>  
            <hr>         
        </div>
        {% endfor %}
</body>
</html>